# =========================
# FLUTTER & DART
# =========================
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# WAJIB untuk app (jangan dihapus)
!pubspec.lock

# =========================
# ANDROID
# =========================
android/.gradle/
android/local.properties
android/app/build/

# File sampah & crash (INI YANG KEMARIN BIKIN ERROR)
*.hprof
*.log
hs_err_pid*
replay_pid*

# =========================
# IOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# =========================
# SEMUA PLATFORM
# =========================
**/ephemeral/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db